.main{
    border: 5px solid red;
    width: 500px;
    min-height: 500px;
}
.box{
    height: 100px;
width: 100px;
background-color: aqua;
border: 2px solid;
font-weight: bolder;
font-size: 30px;
}
.box1{
    background-color: blue;
}
.box2{
    background-color:yellow;
}
.box3{
    background-color: green;
}

.main{
    position: relative;
}
.box1{
position: absolute;
right: 0;
}
.box2{

}
.box3{

}