
.aa{
    height: 100px;
    width: 165px;
    padding: 30px 25px 30px 30px;
    font-weight: bold;
    font-size: 40px;
    font-family: cursive;
    border-radius: 60px;
    background-color:#414042;
    background:radius-gradient(#414042);
    box-sizing: border-box;
    margin-top: -50px;
    margin-left: 200px;
}

.cont{
    margin: 10px;
    height: 510px;
    width: 430px;
    background:linear-gradient(to top right,#939692,#414042,#30302f,#555754);
    
position: relative;
}
.ee{
color: aquamarine;
}
.fl{
    background-color: aquamarine;
    width: 100px;
    height: 200px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 480px;
}